@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Lexend",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-stroke-1 {
  -webkit-text-stroke: 2px #1b1c57;
}

input {
  background: none;
}
textarea:focus,
input:focus {
  outline: none;
}

.scroll-container {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.swiper {
  width: 600px;
  height: 300px;
}

#navmobile {
  display: none;
  background: #047857;
  opacity: 0.8;
  position: absolute;
  top: 7.6vh;
  left: 0;
  right: 0;
}

#navmobile a {
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#navmobile a:hover {
  background-color: #fff;
  color: #047857;
}

.swipertestimonial {
  width: 100%;
  height: auto;
}

.swiperitem {
  width: 100%;
  height: auto;
}

@keyframes from-left {
  from {
    transform: translateX(70px);
  }
  to {
    transform: translateX(-150px);
  }
}

@keyframes from-right {
  from {
    transform: translateX(-67px);
  }
  to {
    transform: translateX(150px);
  }
}

@keyframes from-bottom {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(-50px);
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .section-1-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
  animation: from-bottom ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timeline: view(y);
} */

@media only screen and (min-width: 768px) {
  .section-1-1 {
    animation-name: from-left;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-timeline: view(y);
  }

  .section-1-2 {
    animation-name: from-right;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-timeline: view(y);
  }

  .swiperitem .swiper-wrapper {
    padding-left: 0;
  }
}

.swiperitem .swiper-wrapper {
  padding-left: 3%;
}
